@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Special Elite", cursive;
  -webkit-font-smoothing: antialased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 5rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(102, 186, 43, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

button {
  font-family: "Special Elite", cursive;
  padding: 0.8rem 2 rem;
  border: none;
  background-color: white;
  margin: 1rem;
  width: 100px;
  height: 50px;
  font-size: 20px;
}

h1,
p {
  margin: 2rem auto;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  background-color: rgb(246, 241, 241);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  color: black;
}

.circle p {
  font-size: 2rem;
}

.active {
  box-shadow: 0 0 25px yellow;
  border: 25px solid yellow;
}

/***************** GAME OVER *********************/
