@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Special Elite", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding: 5rem;
  background-image: linear-gradient(
    90deg,
    hsla(33, 100%, 53%, 1) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
}

button {
  font-family: "Special Elite", cursive;
  padding: 0.8rem 2rem;
  border: none;
  background-color: wheat;
  margin: 1rem;
}
h1,
p {
  margin: 2rem auto;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.circle {
  background-color: grey;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(72, 72, 72);
}
.circle:active {
  box-shadow: inset 0 0 40px rgb(96, 96, 96);
}

.circle p {
  font-size: 2rem;
}

.active {
  box-shadow: 0 0 25px rgb(0, 0, 0);
  background-image: url("assets/click.png");
  background-size: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-items: center;
  align-items: center;
}

.gameover_box {
  background: white;
  padding: 1rem;
  width: 40%;
  min-height: 25%;
  border-radius: 5px;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
}

.gameover_box button {
  background: lightgrey;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
